*{
     padding: 0px;
     margin: 0px;
}
body{
     background-color: lavenderblush;
     border: 2px solid darkblue;
}
p{
     line-height: 28px;
}
img{
     height: 200px;
     width: 200px;
     border-radius: 160px;
     margin: 10px;
}
label{
     font-family: 'Times New Roman', Times, serif;
     font-size: 50px;
}